<marquee direction="scroll">
    <img src="https://media1.tenor.com/images/abb9bb0bb79865bfc4ac963d4c30eb7a/tenor.gif?itemid=11191352" height="75" width="75">
</marquee>

@model LoginUser

<div class="wrapper">
    <h1 style="color: magenta">Login</h1> <br>
    <a href="/">Need to Register?</a> <br><br>
    <form asp-action="LoginUser" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <span asp-validation-for="Email"></span>
            <input type="text" asp-for="Email" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" class="form-control">
        </div> <br>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>